# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.hczgaupowppntvyhfnlf:M2%2BQMs%23G5i%24.9Bd@aws-1-eu-west-2.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.hczgaupowppntvyhfnlf.supabase.co:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://hczgaupowppntvyhfnlf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dkCbbTWLNs8wDE3KCaDrAg_5SEAhEj8
